@font-face {
    font-family: IRANSansX-Regular;
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/WOFF2/IRANSansX-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANSansX-Bold;
    font-style: normal;
    font-weight: bold;
    src: url('./assets/fonts/WOFF2/IRANSansX-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANSansX-Thin;
    font-style: normal;
    font-weight: 100;
    src: url('./assets/fonts/WOFF2/IRANSansX-Thin.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANSansX-Light;
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/WOFF2/IRANSansX-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANSansX-Medium;
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/WOFF2/IRANSansX-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANSansX-ExtraBold;
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/WOFF2/IRANSansX-ExtraBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: IRANSansX-Black;
    font-style: normal;
    font-weight: 850;
    src: url('./assets/fonts/WOFF2/IRANSansX-Black.woff2') format('woff2');
    font-display: swap;
}

/* @font-face {
    font-family: MEEM-Num-Regular;
    font-style: normal;
    src: url('./assets/fonts/FaNum/woff2/MeemFaNum-Regular.woff2') format('woff2');
    font-display: normal;
}

@font-face {
    font-family: MEEM-Num-Bold;
    font-style: normal;
    src: url('./assets/fonts/FaNum/woff2/MeemFaNum-Bold.woff2') format('woff2');
    font-display: normal;
} */

:root {
    --font-normal: 'IRANSansX-Regular';
    --font-bold: 'IRANSansX-Bold';
    --font-100: 'IRANSansX-Thin';
    --font-300: 'IRANSansX-Light';
    --font-500: 'IRANSansX-Medium';
    --font-800: 'IRANSansX-ExtraBold';
    --font-850: 'IRANSansX-Black';
    /* --font-num-regular: 'MEEM-Num-Regular';
    --font-num-bold: 'MEEM-Num-Bold'; */
}

body {
    background-color: #dbdbdb;
    font-family: var(--font-normal);
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
